@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
    font-family: "Oswald", sans-serif;
    background-color: #5DD3B6;
}

#section-pet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    font-size: 60px;
}

.subtitulo{
    font-size: 35px;
    margin-bottom: 50px;
}

.tarjetas{
    display: flex;
    gap: 10px;
}

.tarjeta-mascota{
    width: 200px;
    height: 105px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #EFE1B5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta-mascota img{
    width: 80px;
    padding-left: 10px;
}

input{
    display: none;
}

#boton-mascota{
    width: 150px;
    height: 30px;
    margin: 30px;
    background-color: #6E5034;
    color: #fff;
    border-radius: 10px;
    font-family: "Oswald", sans-serif;
}

#section-attack{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.boton-ataque{
    background-color: #EFE1B5;
    height: 38px;
    width: 100px;
    border-radius: 10px;
    font-size: 20px;
}

#mensaje{
    background: #EFE1B5;
    width: 300px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
    border-radius: 11px;
}

#boton-reiniciar{
    border: none;
    background-color: #EFE1B5;
    font-size: 15px;
}