@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
    font-family: "Oswald", sans-serif;
    background-color: #5DD3B6;
}

#section-pet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    font-size: 60px;
}

.subtitulo{
    font-size: 35px;
}

.tarjetas{
    display: flex;
    gap: 10px;
}

.tarjeta-mascota{
    width: 160px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #EFE1B5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta-mascota img{
    width: 80px;
    padding-left: 10px;
}

input{
    display: none;
}